Gitignore/
build/
dist/
debug/
work/
temp/
.picasaoriginals/
*~
*.lnk
*.ini
*.d
*.swp
*.obj
*.xcf
*.*bak
*.kicad_mod
_autosave*.kicad*
*.zip
*.gsheet
*.tmp
.picasa.ini
■メモ*.TXT
□メモ*.TXT
■めも*.TXT
□めも*.TXT
■メモ*.txt
□メモ*.txt
■めも*.txt
□めも*.txt
*ショートカット